{% extends 'base.html' %}

{% block title %}Мастера{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Наши мастера</h1>
    <div class="row">
        {% for master in masters %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                {% if master.photo %}
                    <img src="{{ master.photo.url }}" class="card-img-top" alt="{{ master.name }}" style="height: 200px; object-fit: cover;">
                {% else %}
                    <div class="card-img-top bg-light d-flex align-items-center justify-content-center" style="height: 200px;">
                        <i class="bi bi-person-circle" style="font-size: 3rem; color: #6c757d;"></i>
                    </div>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ master.name }}</h5>
                    {% if master.specialization %}
                        <p class="card-text">{{ master.specialization }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}