{% extends 'base.html' %}

{% block title %}Услуги{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Наши услуги</h1>
    <div class="row">
        {% for service in all_services %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ service.name }}</h5>
                    <p class="card-text">Цена: {{ service.price }} ₽</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}