{% autoescape off %}
Здравствуйте!

Вы получили это письмо, потому что запросили восстановление пароля для вашего аккаунта на сайте {{ site_name }}.

Пожалуйста, перейдите по следующей ссылке, чтобы выбрать новый пароль:

{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

Ваше имя пользователя: {{ user.get_username }}

Если вы не запрашивали восстановление пароля, просто проигнорируйте это письмо.

Ссылка действительна в течение 24 часов.

С уважением,
Команда {{ site_name }}

---
Это письмо отправлено автоматически, пожалуйста, не отвечайте на него.
{% endautoescape %}
